[includeIf "hasconfig:remote.*.url:https://github.com/**"]
  path = ~/.gitconfig.public

[includeIf "hasconfig:remote.*.url:https://github.*.com/**"]
  path = ~/.gitconfig.work

[includeIf "hasconfig:remote.*.url:https://git-codecommit.eu-central-1.amazonaws.com/**"]
  path = ~/.gitconfig.work


[pull]
	rebase = true

[branch]
	autosetupmerge = always

[init]
	templateDir = ~/.git-template

[alias]
  co = checkout
  count = shortlog -sn
  g = grep --break --heading --line-number
  gi = grep --break --heading --line-number -i
  changed = show --pretty=\"format:\" --name-only
  fm = fetch-merge
  pr = open-pr
  unstage = reset HEAD --
  uncommit = reset --soft HEAD
  purge = clean -fd
  please = push origin --force-with-lease
  commend = commit --amend --no-edit
  fpr = fetch-pr
  lga = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lt = log --tags --decorate --simplify-by-decoration --oneline
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  glog= log --oneline --decorate --graph
  ll= log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[core]
  excludesfile = ~/.gitignore.global
  editor = vim
	compression = 0
  autocrlf = input
  whitespace = trailing-space,space-before-tab
  precomposeunicode = true
  pager = delta

[apply]
  whitespace = nowarn

[help]
  autocorrect = 1

[merge]
  ff = only

[interactive]
  diffFilter = bat --style=header,grid

[difftool "batdiff"]
  cmd = batdiff $LOCAL $REMOTE

[diff]
  #tool = difftastic
  tool = batdiff
  external = difft

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[branch]
  autosetupmerge = true
  autosetuprebase = always

[grep]
  extendRegexp = true
  lineNumber = true

[push]
  default = current

[submodule]
  fetchJobs = 4

[log]
  showSignature = false
[http]
	postBuffer = 1048576000
	maxRequestBuffer = 100M
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
